/* frontend/static/css/styles.css */
body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  background: radial-gradient(circle at center, #02A0A0 15%, #00989E 60%, #ffffff 100%);
}
header {
  text-align: center;
  background-color: #02A0A0;
  color: white;
  padding: 15px;
}
.logo {
  height: 50px;
  vertical-align: middle;
}
#control-panel {
  width: 260px;
  float: left;
  background-color: #f9f9f9;
  padding: 10px;
  border-right: 2px solid #02A0A0;
}
#map {
  width: calc(100% - 260px);
  height: 100vh;
  float: right;
}
button {
  background-color: #EAFE07;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}